@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
}
.header {background-color: #d0d6d5;}
.pink{background-color:pink;}
.shani{color:#00705c;}
.highlight{background-color:#7dffe8;}